body{
  background-color: black;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar
{
  display:none;
}

.cart-z
{
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  padding-left: 40px;
}
.login-area
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  padding: 50px;
  margin-top: 100px;
}
.welcome
{
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 200px;
}
.welcome-intro
{
  font-size: 18px;
  font-family: sans-serif;
  margin-right: 110px;
  margin-top: 10px;
}
.login-form
{
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}
.input
{
  width: 711px;
  height: 60px;
  background-color: white;
  border-radius: 16px;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  border: 1px grey;
  box-shadow: 12px 23px 15px -3px rgba(0,0,0,0.1);
}
.remember-me
{
  padding: 20px;
  font-size: 19px;
}
.forgot-pass
{
  background-color:rgba(0,0,0,0);
  border: 1px grey;
  font-size: 19px;
  margin-left: 370px;
  color: #2A6562;
}
.login-button
{
  width: 711px;
  height: 60px;
  background-color: #5E1F2D;
  color: white;
  border-radius: 16px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  border: 1px grey;
  box-shadow: 12px 23px 15px -3px rgba(0,0,0,0.1);
}

.note
{
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.login-note
{
  font-size: 19px;
  font-family: sans-serif;
}
.signup-color
{
  color: #2A6562;
  margin-left: 5px;
  font-size: 19px;
}
.message
{
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(205, 98, 98);
  margin-left: 230px;
}

/* Navbar */

.navbar
{
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  width: 99%;  
}

.logo
{
  font-size: 40px;
  font-weight: bolder;
  margin-left:-50px ;
}
.search-box
{
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 700px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.search-input
{
  width: 95%;
  border: 1px white;
  font-size:18px ;
}
.search-input:focus
{
  outline: none;
}
.search-icon
{
  width: 25px;
  height: 24px;
  margin-top: 5px;
}
.buttons
{
  font-size: 20px;
  margin-top: 10px;
}
:hover.buttons
{
  color: rgb(135, 77, 77);
  text-decoration: underline;
}
.user-icon
{
  margin-right: 5px;
}


.dropdown {
  float: left;
  overflow: hidden;
  margin-top: -11px;
}
.dropdown .dropbtn
 {
  font-size: 20px;
  background-color: black;
  border: none;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 5px;
  display: block;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #9f747d;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.fixed-nav
{
  height: 100px;
}

/* Footer  */

.footer
{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  padding: 40px;
  margin-top: 50px;
}
.footer-logo
{
  font-size: 32px;
  margin-top: 50px;
  margin-right: 90px;
}
.sections
{
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 100px;
}
:hover.sections
{
  text-decoration: underline;
}
.section-2
{
  font-size: 16px;
  font-weight: bold;
  margin-right: 600px;
  margin-left: -300px;
  margin-bottom: 5px;
}
.icon-item
{
  margin-left: -310px;

}
.icon
{
  padding: 5px;
}
.creator
{
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 7px;
  font-weight: bold;
}
.end-box
{
  background-color: white;
  width: 100%;
  height: 39px;
}

/* Landing  */

.landing
{
  background-image: url('./Assets/Landing.png');
  height: 500px;
  width: 100%;
}
.featured
{
  color: white;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.featured-collection
{
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.knitwear
{
  background-image: url('./Assets/knit.png');
  background-repeat: no-repeat;
  height: 336px;
  width: 397px;
  margin-bottom: 2px;
  padding: 7px;
}
.pants
{
  background-image: url('./Assets/pant.png');
  background-repeat: no-repeat;
  height: 336px;
  width: 397px;
  margin-bottom: 2px;
  padding: 7px;
}
.middle-feature
{
  background-image: url("./Assets/suit.png");
  width: 422px;
  height: 699px;
  margin: 10px;
  margin-top: -2px;
  background-repeat: no-repeat;
  padding: 7px;
}
.top
{
  background-image: url('./Assets/top.png');
  background-repeat: no-repeat;
  height: 336px;
  width: 397px;
  margin-bottom: 2px;
  padding: 7px;
}
.sweater
{
  background-image: url('./Assets/sweater.png');
  background-repeat: no-repeat;
  height: 336px;
  width: 397px;
  margin-bottom: 2px;
  padding: 7px;
}

.sale-content
{
  display: flex;
  flex-direction: row;
}
.sale-icon
{
  width: 600px;
  height: 505px;
}
.sale-box
{
  width: 70%;
  height: 505px;
  background-color: #4D282F;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale-percent
{
  font-size: 60px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
.sale-info
{
  font-size: 20px;
  word-wrap: break-word;
  width: 340px;
  text-align: center;
}
.shop-button
{
  width: 213px;
  height: 55px;
  border-radius: 20px;
  margin-top: 10px;
  background-color:#702222;
  border: 2px ;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2) ;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

/* Cart  */
.cart-bg
{
  background-image: url('./Assets/cartbg.png');
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-header
{
  width: 1602px;
  height: 19px;
  background-color: black;
  color: white;
  border-radius: 4px;  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin-top: 70px;
}
.cart-box
{
  width: 1602px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.cart-item
{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
}
.cart-button-box
{
  margin-left: 1000px;
}
.cart-button
{
  width: 200px;
  height: 56px;
  margin: 20px;
  background-color:transparent;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
}
:hover.cart-button
{
  background-color: #f9f9f9;
}
.cart-check
{
  width: 500px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2) ;
  margin-left: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-total
{
  font-size: 20px;
  font-weight: bold;
  margin-right: 350px;
  padding: 10px;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 10px;
}
th, td {
  text-align: left;
  padding: 10px;
}
tr:nth-child(odd) {background-color: #f2f2f2;}

.checkout
{
  width: 260px;
  height:46px;
  border: 1px ;
  background-color: #DB4444;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2) ;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  margin-top: 30px;
}


/* products  */

.product-objects
{
  padding: 40px;
  display: flex;
  flex-direction: row;
  behavior: smooth;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product-objects::-webkit-scrollbar
{
  display:none;
}
.product-list
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.product-info
{
  background-color:#6f4f4bb3;
  color: white;
  inline-size: 300px;
  overflow-wrap: break-word;
  border-radius: 5px;
  margin-top: -50px;
  padding: 10px;
  box-shadow: 15px 19px 13px -3px rgba(0,0,0,0.1);
}
.product-title
{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.product-price
{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.product-icon
{
  padding: 10px;
  width: 400px;
  height: 500px;
  box-shadow: 15px 19px 13px -3px rgba(0,0,0,0.1);
}

/* Modal Order confirmed  */
.modal-main
{
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0,0.4);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-item
{
  background-color: white;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}
.modal-head
{
 display: flex;
 flex-direction: row;
 border-bottom: 1px solid rgb(200, 197, 197);
 padding: 10px;
 justify-content: space-between;
 height: 50px;
}
.modal-head-title
{
  margin-top: 30px;
  font-weight: bold;
}
.card-entry
{
  padding: 20px; 
  display: flex;
  flex-direction: column;
}
.card-name
{
  margin-bottom: 10px;

}
.card-name-entry
{
  border:2px solid  rgb(199, 194, 194);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 90%;
}
.card-date
{
  margin-bottom: 10px;
}
.card-date-entry
{
  border:2px solid  rgb(199, 194, 194);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  color: black;
}
.more-info
{
  border:1px solid  rgb(199, 194, 194);
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  width: 90%;
}
.modal-footer
{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.card-cancel
{
  border:2px solid  rgb(199, 194, 194);
  padding: 10px;
  border-radius: 10px;

}
.card-pay
{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(13, 13, 56);
  color: white;
  margin-left: 10px;
}

/* orders  */

.order-page
{
  background-image: url('./Assets/orders.png');
}
.order-done
{
  color: rgb(33, 79, 63);
  font-weight: bolder;
  font-size: 80px;
  text-align: center;
  padding: 250px;
}